# Vite
VITE_PREVIEW_PORT=3000 # port of the client application preview
VITE_APP_URL=http://localhost:3000 # development URL of the client application
# Other
VITE_NEWSDATA_API_KEY=pub_1234 # yourn Newsdata API key
